
# Mac OS
.DS_Store

# Venv
.venv
.idea
*.pyc

# Hide Random data generation
/app/data/input/training_data/pseudo_testing_data
/app/data/input/training_data/pseudo_testing_data_with_truth
/app/data/output/pseudo_testing
/app/data/output/testing/

*.ipynb